.git
.github
.vs
artifacts
records
**/bin
**/obj
**/*.user
**/*.suo
**/*.cache
*.car
*.pfx
*.p12
*.pkcs8.protected
.env
.env.*
deploy/hosted-services/hosted-services.staging.env
deploy/hosted-services/hosted-services.production.env
